<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sliding Puzzle Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<!-- index.html -->
<div id="victory-message" style="display: none;"></div>
    <div id="puzzle-container">
        {% for row in puzzle %}
            {% for cell in row %}
                <div class="puzzle-piece {% if cell.id == 0 %}empty{% endif %}" 
                     data-id="{{ cell.id }}" 
                     data-row="{{ cell.row }}" 
                     data-col="{{ cell.col }}"
                     data-order="{{ cell.order }}"
                     style="order: {{ cell.order }};
                            width: {{ cell.width }}px;
                            height: {{ cell.height }}px;
                            {% if cell.id != 0 %} background-image: url('{{ cell.image }}');{% endif %}
                            <!--background-image: url('{{ cell.image }}');-->
                            background-position: -{{ cell.col * cell.width }}px -{{ cell.row * cell.height }}px;
                     ">
                     <!-- You can add content here if needed -->
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <button id="shuffle-button" onclick="shufflePieces()">Shuffle</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- Example: Include a script tag in your HTML to initialize puzzlePieces -->
</script>
</body>
</html>